---
layout: default
---
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="images/logo.png" alt="mobilespace" /></span>
            <span class="typedheader typed"></span> <!-- filled by main.js using typed.js -->
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>What is MobileSpace?</h2>
                        </header>
                        <p><strong>MobileSpace</strong> is a weekly meetup space in San Francisco to enable developers to build their own mobile apps with an excellent in-person community to teach and help accelerate your project to completion.</p>
                    </div>
                    <span class="image"><img src="images/section1.gif" alt="what is mobilespace" /></span>
                </div>
            </section>
            <section id="subteams" class="main special">
                <header class="major">
                    <h2>How to?</h2>
                </header>
                <ul class="features">
                    {% for item in site.subteam %}
                    <li>
                        <span class="icon major {{ item.iconstyle }} {{ item.icon }}"></span>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="second" class="main special">
                <header class="major">
                    <h2>Recent Milestones</h2>
                </header>
                {% for post in site.tags["milestone"] %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                <p>
                <b>{{ post.title }}</b>
                     on {{ post.date | date: "%B %-d, %Y" }}
                </p>
                </a>
                {% endfor %}
            </section>
            <section id="third" class="main special">
                <header class="major">
                    <h2>AUV Competitions</h2>
                </header>
                    {% for item in site.competition %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    <a href="{{ item.link }}"><i>Read more...</i></a>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            <section id="fourth" class="main special">
                <header class="major">
                    <h2>Research Collaborations</h2>
                </header>
                    {% for item in site.research %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ item.image }}" alt="" /></span>
                    <h3> {{ item.title }} </h3>
                    {{ item.description }}
                    </p>
                    <br>
                    {% endfor %}
            </section>
        </div>
