---
layout: default
---
        <!-- Header -->
        <header id="header">
        </header>
        <div id="main">
            <section id="content" class="main">
                <span class="image main" style="text-align: center;"><img src="{{ page.header-img }}" alt="" />
                    <div style="color: white; position:absolute; bottom: 5px; left: 5px; width: 100%; height: 70%">
                    <h1 style="color: white; font-weight: bold;margin-bottom:0px;">{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 style="color: white;">{{ page.subtitle }}</h2>
                    {% endif %}
                    <h4 class="hidden-xs" style="color: white;">
                    Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
                    <br>
                    Tags: {% for tag in page.tags %}<i class="fa fa-tag"></i> {{ tag }} {% endfor %}
                    <br>
                    {% assign minutes = content | number_of_words | divided_by: site.wpm %}
                    <i class="fa fa-clock-o"></i>&nbsp;{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                    {{ minutes }} minute read
                    </h4>
                </div>
                </span>
                <div class="spotlight">
                    <div class="content">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </section>
        </div>
