---
layout: default
---
        <!-- Header -->
        <header id="header">
        </header>
        <div id="main">
            <section class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>{{ page.name }}</h2>
                        </header>
                        <p>{{ page.description }}</p>
                        <br>
                        <ul class="actions">
                            <li><a href="{{ page.link }}" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ page.image }}" alt="{{ page.name }}" /></span>
                </div>
            </section>
        </div>
