---
layout: default
---
        <!-- Header -->
        <header id="header">
        </header>
        <div id="main">
            <section class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>{{ page.name }}</h2>
                        </header>
                        <p>{{ page.description }}</p>
                        <span class="image right"><img src="{{ page.image }}" alt="{{ page.name }}" /></span>
                        <br>
                        {{ content }}
                    </div>
                </div>
            </section>
        </div>
